.badge {
    font-size: 1rem;
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    background-color: var(--blue-900);
    border: 1px solid var(--blue-900);
    border-radius: 50%;
}