<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button type="button" class="mr-2" (click)="changeDrawer()" icon="pi pi-bars"></p-button>
        <div style="padding-right: 10px"></div>
        <p-image src="assets/icons/loymark-menu.svg" alt="Loymark logo" width="225px" class="mr-3"></p-image>
        <!-- <span [style]="{'font-size': '30px'}">Loymark</span> -->
    </div>

    <div class="p-toolbar-group-right">
        {{username}}
    </div>
</p-toolbar>

<p-sidebar [style]="{'padding': '0px'}" class="side-nav" [(visible)]="visibleSidebar1" appendTo="body">
    <div class="flex align-items-center justify-content-center" style="height: 50px; margin-top: 20px; margin-bottom: 10px;">
        <p-image src="assets/icons/loymark-logo.png" alt="Loymark logo" width="25px" class="mr-1"></p-image>
        <h2 class="menu-title">Menu</h2>
    </div>
    <p-divider [style]="{'z-index': '1000'}" align="center"></p-divider>
    <p-menu [autoZIndex]="false" [model]="menu"></p-menu >
</p-sidebar>
